<div class="main">
    <div class="sec1">
        <div class="card">
            <h1 class="title2">Olá, Usuário!</h1>
            <h1 class="title2">Saldo atual: R$1099,67</h1>
            <div class="buttons">
            </div>
        </div>
    </div>
    <div class="sec2">
        <div class="card2">
            <div class="tableHeader">
                <h1 class="title2">Gastos</h1>
                <div class="button">
                    <p class="titleBtn">+ Adicionar gasto</p>
                </div>
            </div>
            <div class="table">
                <div class="categories">
                    <div class="category">Categoria</div>
                    <div class="category">Valor</div>
                    <div class="category">Data</div>
                </div>
                <div class="item">
                    <div class="column">Cartão de crédito</div>
                    <div class="column">R$ 1.000</div>
                    <div class="column">10/05/2024</div>
                </div>
            </div>
        </div>
        <div class="card2">
            <h1 class="title2">Relatórios:</h1>
        </div>
    </div>
</div>