<div class="main">
  <div class="form p-5 col-4">
    <h1 class="title">Login</h1>
    <div class="inputs">
      <input type="text" class="input" placeholder="Email" />
      <input type="text" class="input" placeholder="Senha" />
    </div>
    <div class="idk">
      <div><input type="checkbox" /><a>Lembrar senha</a></div>
      <a class="pwdRecover">Esqueci a senha</a>
    </div>
    <div class="loginBtn" (click)="login()">
      <p class="title">Entrar</p>
    </div>
    <a class="pwdRecover">Não possui conta? <b>Cadastre-se aqui!</b></a>
  </div>
</div>
