<div class="main">
  <div class="form p-5 col-4">
    <h1 class="title">Login</h1>
    <div class="inputs">
      <input type="text" class="input" placeholder="Email" [(ngModel)]="email" />
      <input type="text" class="input" placeholder="Senha" [(ngModel)]="senha" />
    </div>
    <div class="idk">
      <div><input type="checkbox" /><a class="pwdRecover">Lembrar senha</a></div>
      <a class="pwdRecover">Esqueci a senha</a>
    </div>
    <div class="loginBtn" (click)="login()">
      <p class="title">Entrar</p>
    </div>
    <p class="pwdRecover">Não possui conta? <a class="pwdRecover" href="/register"><b>Cadastre-se aqui!</b></a></p>
  </div>
</div>